<section id="footer">
	<div class="container">				
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-3">
				<ul class="list-unstyled list-inline social text-center">
					<li class="list-inline-item"><a href="https://www.facebook.com/DaewooTechnology/"><i class="fa fa-facebook"></i></a></li>					
					<li class="list-inline-item"><a href="https://www.instagram.com/daewoo_arg/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
					<li class="list-inline-item"><a href="https://www.youtube.com/channel/UC9GFa_t4upoO3TfjxjzzgcA"><i class="fa fa-youtube"></i></a></li>
					<li class="list-inline-item"><a href="https://www.gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
			</div>
			<hr>
		</div>	
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 text-center text-white">
				<p><u><a href="https://www.daewoo.net.ar/">Daewoo Argentina</a></u> es una marca Registrada por Nexina Inc. | Buenos Aires, Argentina</p>
				<p class="h6">© Todos los derechos reservados. <a class="text-green ml-2" href="https://jmdg.com.ar/" target="_blank">JM DG</a></p>
			</div>				
		</div>			
</section>
	